.details-container {
  width: 100%;
  display: grid;
  grid-template-columns: 66% 33%;
  padding: 0 19%;
}

.gray-backdrop {
  position: absolute;
  right: 0;
  left: 0;
  height: 285px;
  z-index: -1;
  background-color: #333333;
}

.details-text {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 2rem;
}

.details-text * {
  color: white;
}

.details-category {
  color: var(--brand-secondary);
}

.details-title {
  font-weight: bold;
}

.details-stars-container * {
  color: #e5981a;
}

.details-content {
  padding-top: 1rem;
  margin-bottom: 0.6rem;
  overflow-y: scroll;
}

.details-content::-webkit-scrollbar-track {
  background-color: #333333;
}

.details-card {
  width: 320px;
  height: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  background: white;
  flex-shrink: 0;
  box-shadow: 0px 0px 4px var(--shadow-default);
}

.details-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 2px;
}

.details-card-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.add-fav-container {
  margin-top: 0.6rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-color: #dddddd;
  border-style: solid;
  flex-grow: 1;
}

#add-fav-button {
  height: 56px;
  font-size: 1.3rem;
  border-style: none;
  background-color: var(--brand-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.details-card-content * {
  color: black;
}

#add-fav-button:hover {
  background-color: #52d2a5;
  scale: 1.05;
}

#add-fav-button:active {
  scale: 0.95;
  transition: 50ms;
}

#add-fav-button * {
  color: white;
}

.add-fav-credits {
  text-align: center;
  position: relative;
  top: 8px;
  font-size: small;
  color: rgb(167, 167, 167);
}

.sub-topics-container {
  background-color: var(--bg_default);
  border-style: solid;
  border-color: var(--lines-color);
  border-radius: 8px;
  margin-top: -6rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.sub-topics-header {
  min-height: 4rem;
  padding-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sub-topic {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: solid 1px var(--lines-color);
  padding: 1rem 1.5rem;
}

.sub-topic-icon {
  font-size: 1.5rem;
  color: var(--brand-secondary);
}

.sub-tobic-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1100px) {
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4%;
  }

  .gray-backdrop {
    height: 500px;
  }

  .sub-topics-container {
    width: 100%;
    border-radius: 8px;
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 470px) {
  .gray-backdrop {
    height: 584px;
  }
  .details-card {
    width: 100%;
  }
}
