.main {
  min-height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.filter-bar {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--lines-color);
  background: var(--bg_default);
  box-shadow: 0px 0px 5px #00000025;
}

.filter-bar * {
  background: none;
  border-style: none;
  border-width: 1px;
  border-color: var(--lines-color);
}

.filter-bar div {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  min-width: 20%;
}

.filter-bar div:first-child {
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  justify-content: left;
}

.filter-bar h4 {
  padding-left: 0.2rem;
  margin-bottom: 1.2rem;
  pointer-events: none;
  font-size: x-small;
  position: absolute;
}

.filter-bar select {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.filter-bar div:first-child input {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.5rem;
}

#search-icon {
  padding-left: 0.2rem;
  pointer-events: none;
  position: absolute;
}
