.shape-style-container {
  width: 100%;
  height: 80px;
}

#header-triangle-gradiant,
#header-triangle {
  width: 86%;
  height: 68px;
  position: absolute;
  box-shadow: inset 0px 2px 10px var(--shadow-default);
}

#header-triangle-gradiant {
  background: var(--brand-secondary);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  right: 0;
}

#header-triangle {
  background: linear-gradient(to right, var(--brand-primary) 15%, var(--brand-secondary) 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  left: 0;
}

.welcome-container {
  min-height: 115px;
  background-color: var(--bg_default);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text-container {
  max-width: 420px;
  z-index: 2;
  margin-top: 49px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.15;
}

.welcome-text {
  letter-spacing: -0.3px;
}

.welcome-header {
  color: var(--brand-secondary);
  font-size: 1.3rem;
  font-weight: bold;
}
