* {
  font-family: "Nunito Sans", sans-serif;

  list-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border-width: 1px;
  transition: 100ms;

  color: var(--body-text);
}

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  position: fixed;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg_default);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 10rem;
}

body {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --shadow-default: rgba(0, 0, 0, 0.2);
}

body.dark {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

body {
  background: var(--bg_body);
  overflow-x: hidden;
}

option {
  background-color: var(--bg_default);
}

input:focus,
select:focus {
  outline: 2px solid #32a1ce;
  border-radius: 8px;
  z-index: 20;
}

.px-4pc {
  padding-left: 4%;
  padding-right: 4%;
}

.navbar {
  height: 70px;
  padding: 0 4%;
  display: flex;
  background-color: var(--bg_default);
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  color: var(--brand-primary);
  font-size: medium;
  font-weight: bolder;
  letter-spacing: -0.2px;
}

.navbar ul {
  display: flex;
  gap: 4px;
}

.navbar button {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: smaller;
  background-color: #ffffff00;
  padding: 4px 8px;
  border-radius: 4px;
  border-color: var(--lines-color);
  border-style: solid;
  transition: 300ms;
}

.navbar button:hover {
  scale: 1.1;
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.navbar button:active {
  scale: 0.9;
  transition: 20ms;
}

.navbar button:hover * {
  color: var(--bg_default);
}

.shape-style-container {
  width: 100%;
  height: 80px;
}

#header-triangle-gradiant,
#header-triangle {
  width: 86%;
  height: 68px;
  position: absolute;
  box-shadow: inset 0px 2px 10px var(--shadow-default);
}

#header-triangle-gradiant {
  background: var(--brand-secondary);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  right: 0;
}

#header-triangle {
  background: linear-gradient(to right, var(--brand-primary) 15%, var(--brand-secondary) 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  left: 0;
}

.welcome-container {
  min-height: 115px;
  background-color: var(--bg_default);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text-container {
  max-width: 420px;
  z-index: 2;
  margin-top: 49px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.15;
}

.welcome-text {
  letter-spacing: -0.3px;
}

.welcome-header {
  color: var(--brand-secondary);
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-container {
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}

.footer-text {
  display: flex;
  font-weight: bold;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  font-size: 1.8rem;
  color: var(--heart-color);
}

@media (max-width: 750px) {
  .nav-buttons h3 {
    display: none;
  }

  .welcome-text-container {
    margin-top: 36px;
  }

  #header-triangle-gradiant,
  #header-triangle {
    height: 26px;
  }
}

.bold {
  font-weight: bold;
}

.inline-link {
  text-decoration: underline;
  color: #005286 !important;
}
